<div class="centered-content">
  <div class="modal-box form-group" *ngIf="todo">
    <h1 class="title text-center">ToDo Info</h1>
    <hr>

    <h3>Title :</h3>
    <h6 class="title">{{todo.title}}</h6>
    <br>

    <h3>Discription :</h3>
    <h6 class="discription">{{todo.discription}}</h6>
    <br>

    <h3>Created Date :</h3>
    <h6 class="title">{{todo.createdDate}}</h6>
    <br>

    <h3>Deadline :</h3>
    <h6 class="title">{{todo.finishDate}}</h6>

    <div class="btns d-flex justify-content-center align-items-center mt-4">
      <button class="btn btn-success me-5" (click)="editTodo()">Edit</button>
      <button class="btn btn-primary" routerLink="../../">Back</button>
    </div>
  </div>
</div>
